:root{/*creación de variables para distintos colores de la página*/
    --color-barra-lateral: rgb(255,255,255);
    --color-texto: rgb(0,0,0);
    --color-texto-menu: rgb(134,136,144);
    --color-menu-hover: rgb(238,238,238);
    --color-menu-hover-texto: rgb(0,0,0);
    --color-linea: rgb(241,241,241)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
}

/*Barra despegable*/

.contenido_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 940px;
    overflow: hidden;/*ocultar elementos al recorrer la barra*/
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);/*llamado de variable*/
    transition: width 0.5s ease;/*mejor transicion al recorrer la barra*/
}

.mini-barra-lateral{
    width: 80px;
}

.contenido_menu span{
    font-size: 18px;
    text-align: left;
    opacity: 1;/*hacer visible el texto*/
    transition: opacity 0.5s ease;
}

.contenido_menu span.oculto{
    opacity: 0;
}

.contenido_menu .nombre_pagina{/*nombre de la página*/
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
}

.contenido_menu .nombre_pagina img{
    min-width: 50px;
    height: 42px;
    cursor: pointer;
}

.contenido_menu .nombre_pagina span{
    margin-left: 5px;
    font-size: 19px;
}

/*Menu de navegacion*/

.contenido_menu .navegacion{
    height: 100%;
    overflow-y: auto;/*agrega una barra para subir o bajar en caso de que no haya mucho espacio*/
    overflow-x: hidden;
}

.contenido_menu .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.contenido_menu .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu);
}

.contenido_menu .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.contenido_menu .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}

.contenido_menu hr{
    width: 100%;
    height: 1px;
    background-color: var(--color-linea);
}

/*barra responsiva en horizontal*/

@media (max-width: 600px){
    .contenido_menu{
        position: absolute;
        left: -250px;
    }
}