@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*tipografia SPACE MONO*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');/*Lilita one*/
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');/*Patua One*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');/*roboto mono*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');/*concert one*/

:root{/*creación de variables para distintos colores de la página*/
    --color-menu-hover: rgb(238,238,238);
    --color-menu-hover-texto: rgb(0,0,0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/*barra responsiva en horizontal*/

@media (max-width: 3000px){

    header{
        background-color: rgb(0, 0, 0);
        text-align: center;
        width: 100%;
        height: 90px;
    }

    img.inicios{
        width: 50px;
        border-radius: 30px;
    }
    
    nav a{
        text-decoration: none;
        display: inline-block;
        color: white;
        margin-top: 20px;
        border-radius: 30px;
    }

    nav a.posicion{
        margin: 20px 13.72px;
    }

    nav a.posicion span{
        padding-left: 10px;
        font-size: 16px;
    }
    
    nav a:hover{
        background-color: white;
        color: black;
    }
    
    .contenido_menu{
       grid-template-columns: 1fr auto;
       align-items: center;
       background: rgb(0, 0, 0);
       font-family: sans-serif;
       position: fixed;
       top:0;
       padding-bottom: 30px;
       height: 90px;
       width: 100%;
       z-index: 1000;/*evitar sobreposición de cosas en la barra de navegación*/
    }
    
    .menu{
        max-width: 1200px;
        margin-left: 15px;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    
    nav{
        height: 100%;
    }
    
    nav > ul{ /*EL SIGNO DE MAYOR QUE ES COMO DECIR QUE LA PROPIEDAD SE APLIQUE DAL UL DESPUES DEL NAV*/
        height: 100%;
        display: flex;
    }
    
    nav  ul  li{
        height: 100%;
        list-style: none;
        position: relative;
    }
    
    nav > ul > li > a{
        width: 100%;
        height: 100%;
        display: flex;
        color: rgb(255, 255, 255);
        align-items: center; /*ALINEAR AL CENTRO TODO*/
        padding: 14px; /*ESPACIADO*/
        text-transform: uppercase; /*TRANSFORMAR EN MAYUSCULAS*/
        font-size: 14px; /*TAMAÑO DE LETRA*/
        transition: all 300ms ease;
    }
    
    nav > ul > li > a:hover{/*EVENTO DE NOMBRE HOVER QUE SE REFIERE A CUANDO SE INTERACTUA CON EL ELEMENTO CORRESPONDIENTE*/
        transform: scale(1.1); /*TRANSFORMARSE EN UNA ESCALA DE 1.1*/
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);/*SOMBRA DE FONDO CUANDO INTERACTUAMOS CON EL ELEMENTO*/
    }
    
    nav ul li ul{
        width: 200px;
        display: flex;
        flex-direction: column;/*QUE EL SUBMENU VAYA EN COLUMNA*/
        background-color: rgb(0, 162, 255);
        position: absolute; /*posicion absoluta*/
        top: 90px;
        left: -4px;
        padding: 14px 0px 0px 0px;
        visibility: hidden; /*OCULTO*/
        opacity: 0;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        z-index: 10;
        transition: all 300ms
    }
    
    nav ul li:hover ul{
        visibility: visible;
        opacity: 1;
        top: 70px;
    }
    
    nav ul li ul:before{
        content: white;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid white;
        position: absolute;
        top: -12px;
        left: 20px;   
    }
    
    nav ul li ul li a{
        display: block;
        color: rgb(255, 255, 255);
        padding: 6px;
        padding-left: 14px;
        margin-top: 10px;
        font-size: 14px;
        text-transform: uppercase;
        transition: all 300ms;
    }
    
    nav ul li ul li a:hover{
        background-color: rgb(255, 166, 0);
        color: black;
        transform: scale(1.1);
        padding-left: 30px;
        font-size: 14px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    /*texto*/
    
    #inicio{
        background-color: var(--color-menu-hover);
        color: var(--color-menu-hover-texto);
    }
    
}

/*--------------------------------------------------------------------------------------------------------*/

/*CARRUSEL*/

.centrado{
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    color: white;
}

.carrusel{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 1;/*evitar sobreposicion del carrusel con la barra de navegación"*/
}

.carruseles{
    width: 500%;/*depende del num de imagenes*/
    height: 100%;
    display: flex;
}

.slider{
    width: calc(100%/5);/*carrusel para 4 imagenes*/
    height: 100%;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*que las imagenes no pierdan su calidad*/
}

.bl,.br{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transform: translate(0,-50%);
    transition: 0.5s ease;
    user-select: none;
}

.bl{
    left: 10px;
}

.br{
    right: 10px;
}

.bl:hover,.br:hover{
    background-color: black;
    color: white;
}

/*-----------------------------------------------------*/

/*INFO DE LA PAGINA PRINCIPAL*/

section.s1{
    background-color: rgb(0, 119, 255);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 23px;
    font-size: 18px;
}

.set{
    height: 1200px;
    width: 100%;
    background-color: rgb(233, 232, 232);
}

.set2{
    width: 100%;
    height: 100%;
}

.separador{
    height: 50%;
    display: flex;
    background-color: rgb(108, 165, 164);
}

.set .set2 .separador .imag{
    width: 50%;
    height: 100%;
}

.set .set2 .separador .imag img{
    width: 100%;
    height: 100%;
}

.set .set2 .separador .texto{
    width: 50%;
    height: 100%;
}

.set .set2 .separador .texto h1{
    padding-top: 70px;
    text-align: center;
    font-size: 80px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.set .set2 .separador .texto p{
    padding: 20px 60px;
    padding-top: 120px;
    text-align: center;
    font-size: 24px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}

.set .set2 .separador .texto hr{
    background-color: rgb(255, 153, 0);
    height: 15px;
    width: 40%;
    border-radius: 15px;
    border: 2px solid rgb(255, 153, 0);
    margin: 0px 260px;
}

.separador2{
    height: 50%;
    display: flex;
    background-color: rgb(210, 180, 140);
}

.set .set2 .separador2 .imag{
    width: 50%;
    height: 100%;
}

.set .set2 .separador2 .imag img{
    width: 100%;
    height: 100%;
}

.set .set2 .separador2 .texto{
    width: 50%;
    height: 100%;
}

.set .set2 .separador2 .texto h1{
    padding-top: 70px;
    text-align: center;
    font-size: 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.set .set2 .separador2 .texto p{
    padding: 20px 60px;
    padding-top: 120px;
    text-align: center;
    font-size: 24px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}

.set .set2 .separador2 .texto hr{
    background-color: rgb(0, 102, 185);
    height: 15px;
    width: 40%;
    border-radius: 15px;
    border: 2px solid rgb(0, 102, 185);
    margin: 0px 260px;
}

.extra{
    height: 1000px;
    width: 100%;
    background-color: rgb(233, 232, 232);
}

.separador3{
    height: 50%;
}

.extra .set2 .separador3 .texto h1{
    padding-top: 70px;
    text-align: center;
    font-size: 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.extra .set2 .separador3 .texto p{
    padding: 20px 60px;
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}

.extra .set2 .separador3 .texto ion-icon{
    font-size: 80px;
    margin-top: 50px;
    margin-left: 260px;
    border-radius: 15px;
    padding: 3px;
    transition: all 0.5s;
}

.extra .set2 .separador3 .texto ion-icon:hover{
    background-color: black;
    color: white;
}

.separador4{
    height: 50%;
    background-color: rgb(64, 87, 94);
}

.extra .set2 .separador4 .texto h1{
    padding-top: 70px;
    text-align: center;
    font-size: 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.extra .set2 .separador4 .texto .anuncios {
    padding-top: 30px;
    display: flex;
    height: 310px;
}

.extra .set2 .separador4 .texto .anuncios .gallery {
    margin: 5px;
    background-color: #FF4500;
    float: left;
    width: 180px;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
    margin-left: 290px;
    border-radius: 15px;
    transition: all 0.5s;
  }

.extra .set2 .separador4 .texto .anuncios .gallery:hover {
    background-color: rgb(241, 141, 18);
    transform: scale(1.2);
}
  
.extra .set2 .separador4 .texto .anuncios .gallery img {
    width: 100%;
    height: 190px;
    border-radius: 15px 15px 0px 0px;
}
  
.extra .set2 .separador4 .texto .anuncios .gallery .desc {
    padding: 15px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: white;
}

footer{
    justify-content: center;
    text-align: center;
    padding: 30px;
}





/*COMIENZO DE LA PAGINA DE TECNOLOGIAS DE LA INFORMACIÓN e ITEM*/

.Iti{
    background-color: #0685c0;
}

.Item{
    background-color: #a106c0;
}

article .portada img{
    width: 100%;
    height: 600px;
}

.acordeon{
    width: 100%;
    padding: 80px 230px 0px 230px;
}

.acordeon .bloque{
    background-color: #ffffff;
    margin: 30px 0px;
    border-radius: 15px;
}

.acordeon .h2{
    background-color: #0a1555;
    border-radius: 15px;
    padding: 20px 0px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    transition: all 0.5s ease;
}

.acordeon .h2:hover{
    background-color: #5c1ecf;
    border-radius: 15px;
    padding: 20px 0px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
}

.acordeon .contenedor{
    background-color: #ffffff;
    border-radius: 0px 0px 15px 15px;
    color: rgb(0, 0, 0);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding: 0px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.acordeon .contenedorplan{
    background-color: #ffffff;
    border-radius: 0px 0px 15px 15px;
    color: rgb(0, 0, 0);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding: 0px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.acordeon .imgcon2{
    height: 300px;
    padding: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.acordeon .bloque.activo .contenedor{
    padding: 30px;
    height: 500px;
}

.acordeon .bloque.activo .imgcon2{
    padding: 30px;
    height: 500px;
}

.acordeon .bloque.activo .contenedor ol{
    margin: 0px 90px;
}

.acordeon .bloque.activo .contenedor ol li{
    padding: 15px 100px;
}

.acordeon .bloque.activo .contenedor ul{
    margin: 0px 90px;
}

.acordeon .bloque.activo .contenedor ul li{
    padding: 15px 70px;
}

.acordeon .imgcon3{
    height: 300px;
    padding: 0px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.acordeon .bloque.activo .contenedorplan{
    padding: 30px;
    height: 800px;
}

.acordeon .bloque.activo .imgcon3{
    padding: 30px;
    height: 100%;
    width: 100%;
}

.acordeon .bloque.activo .contenedor h3{
    padding: 8px;
    text-align: center;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-size: 26px;
    font-style: normal;
}

.acordeon .bloque.activo .contenedor a:link{
    color: #f5a30a;
}

.acordeon .bloque.activo .contenedor a:visited{
    color: #f5a30a;
}

.acordeon .imgcon4{
    height: 400px;
    padding: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.acordeon .bloque.activo .imgcon4{
    padding: 30px;
    height: 400px;
}


/*COMIENZO DE LA PÁGINA DEL PERSONAL*/


.personal{
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo a columna */
    align-items: center;
    height: 600px;
    background-color: #006680;
    box-sizing: border-box;
}

.personal2{
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo a columna */
    align-items: center;
    height: 600px;
    /*background: linear-gradient(to right, #700606, #ee9e0a);*/
    background-color: burlywood;
    box-sizing: border-box;
}

h1{
    margin: 40px;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    background-color: rgb(250, 206, 10);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i{
    height: 50px;
    width: 50px;
    background: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px black;
}

.wrapper i:first-child{
    left: -22px;
}

.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel.no-transition{
    scroll-behavior: auto;
}

.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel .card{
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: white;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .img{
    background-color: #5c1ecf;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid wheat;
}

.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span{
    color: lightslategrey;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}

.wrapper2{
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper2 i{
    height: 50px;
    width: 50px;
    background: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px black;
}

.wrapper2 i:first-child{
    left: -22px;
}

.wrapper2 i:last-child{
    right: -22px;
}

.wrapper2 .carousel2{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel2::-webkit-scrollbar{
    display: none;
}

.carousel2 :where(.card2, .img){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel2.no-transition2{
    scroll-behavior: auto;
}

.carousel2.dragging2{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel2.dragging2 .card2{
    cursor: grab;
    user-select: none;
}

.carousel2 .card2{
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: white;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card2 .img2{
    background-color: #f1750f;
    width: 138px;
    height: 143px;
    border-radius: 50%;
}

.card2 .img2 img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(0, 197, 215);
}

.card2 h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card2 span{
    color: lightslategrey;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px){
    .wrapper2 .carousel2{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px){
    .wrapper2 .carousel2{
        grid-auto-columns: 100%;
    }
}

.infoextra{
    background-color: rgb(0, 119, 255);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;
    padding: 23px;
    font-size: 14px;
}