:root{/*creación de variables para distintos colores de la página*/
    --color-menu-hover: rgb(238,238,238);
    --color-menu-hover-texto: rgb(0,0,0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/*barra responsiva en horizontal*/

@media (max-width: 3000px){

    header{
        background-color: black;
        text-align: center;
        padding: 26px 0px;
        width: 100%;
        height: 125px;
    }

    img.inicios{
        width: 50px;
    }
    
    nav a{
        text-decoration: none;
        display: inline-block;
        color: white;
        margin: 0px 2px;
        border-radius: 30px;
    }

    nav a.posicion{
        margin: 20px 10px;
    }

    nav a.posicion span{
        padding-left: 10px;
        font-size: 18px;
    }
    
    nav a:hover{
        background-color: white;
        color: black;
    }
    
    .contenido_menu{
       grid-template-columns: 1fr auto;
       align-items: center;
       background: rgb(0, 0, 0);
       font-family: sans-serif;
       position:fixed;
       top:0;
       height: 60px;
       width: 100%;
    }
    
    .menu{
        max-width: 1200px;
        margin-left: 15px;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    
    nav{
        height: 100%;
    }
    
    nav > ul{ /*EL SIGNO DE MAYOR QUE ES COMO DECIR QUE LA PROPIEDAD SE APLIQUE DAL UL DESPUES DEL NAV*/
        height: 100%;
        display: flex;
    }
    
    nav  ul  li{
        height: 100%;
        list-style: none;
        position: relative;
    }
    
    nav > ul > li > a{
        width: 100%;
        height: 100%;
        display: flex;
        color: rgb(255, 255, 255);
        align-items: center; /*ALINEAR AL CENTRO TODO*/
        padding: 14px; /*ESPACIADO*/
        text-transform: uppercase; /*TRANSFORMAR EN MAYUSCULAS*/
        font-size: 14px; /*TAMAÑO DE LETRA*/
        transition: all 300ms ease;
    }
    
    nav > ul > li > a:hover{/*EVENTO DE NOMBRE HOVER QUE SE REFIERE A CUANDO SE INTERACTUA CON EL ELEMENTO CORRESPONDIENTE*/
        transform: scale(1.1); /*TRANSFORMARSE EN UNA ESCALA DE 1.1*/
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);/*SOMBRA DE FONDO CUANDO INTERACTUAMOS CON EL ELEMENTO*/
    }
    
    nav ul li ul{
        width: 200px;
        display: flex;
        flex-direction: column;/*QUE EL SUBMENU VAYA EN COLUMNA*/
        background-color: rgb(0, 72, 255);
        position: absolute; /*posicion absoluta*/
        top: 90px;
        left: -4px;
        padding: 14px 0px 0px 0px;
        visibility: hidden; /*OCULTO*/
        opacity: 0;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        z-index: 10;
        transition: all 300ms
    }
    
    nav ul li:hover ul{
        visibility: visible;
        opacity: 1;
        top: 70px;
    }
    
    nav ul li ul:before{
        content: white;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid white;
        position: absolute;
        top: -12px;
        left: 20px;   
    }
    
    nav ul li ul li a{
        display: block;
        color: rgb(255, 255, 255);
        padding: 6px;
        padding-left: 14px;
        margin-top: 10px;
        font-size: 14px;
        text-transform: uppercase;
        transition: all 300ms;
    }
    
    nav ul li ul li a:hover{
        background-color: rgb(0, 213, 255);
        color: black;
        transform: scale(1.1);
        padding-left: 30px;
        font-size: 14px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    /*texto*/
    
    #inicio{
        background-color: var(--color-menu-hover);
        color: var(--color-menu-hover-texto);
    }
    
    main{
        padding: 20px;
        transition: margin-left 0.5s ease;
    }
}








@media (max-width: 780px){
    /*Icono menu*/

    .menu{
        position: fixed;
        width: 50px;
        height: 50px;
        font-size: 30px;
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        background-color: var(--color-icono);
        color: var(--color-icono-texto);
        right: 15px;
        top: 15px;
        z-index: 100;
    }

    /*Barra despegable*/
    
    .contenido_menu{
        position: fixed;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        width: 250px;
        height: 100%;
        overflow: hidden;/*ocultar elementos al recorrer la barra*/
        padding: 20px 15px;
        background-color: var(--color-barra-lateral);/*llamado de variable*/
        transition: width 0.5s ease, left 0.5s ease;/*mejor transicion al recorrer la barra*/
        z-index: 50;
    }
    
    .mini-barra-lateral{
        width: 80px;
    }
    .contenido_menu span{
        font-size: 18px;
        text-align: left;
        opacity: 1;/*hacer visible el texto*/
        transition: opacity 0.5s ease;
    }
    
    .contenido_menu span.oculto{
        opacity: 0;
    }

    nav > ul{ /*EL SIGNO DE MAYOR QUE ES COMO DECIR QUE LA PROPIEDAD SE APLIQUE DAL UL DESPUES DEL NAV*/
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .contenido_menu .nombre_pagina{/*nombre de la página*/
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
    }
    
    .contenido_menu .nombre_pagina img{
        min-width: 50px;
        height: 42px;
        cursor: pointer;
    }
    
    .contenido_menu .nombre_pagina span{
        opacity: 0;
        margin-left: 5px;
        font-size: 19px;
    }
    
    /*Menu de navegacion*/
    
    .contenido_menu .navegacion{
        margin-top: 80px;
        margin-left: 0px;
        height: 100%;
        overflow-y: auto;/*agrega una barra para subir o bajar en caso de que no haya mucho espacio*/
        overflow-x: hidden;
    }
    
    .contenido_menu .navegacion li{
        list-style: none;
        display: flex;
        margin-bottom: 5px;
    }
    
    .contenido_menu .navegacion a{
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 10px;
        background-color: var(--color-barra-lateral);
        color: var(--color-texto-menu);
    }
    
    .contenido_menu .navegacion a:hover{
        background-color: var(--color-menu-hover);
        color: var(--color-menu-hover-texto);
    }
    
    .contenido_menu .navegacion ion-icon{
        min-width: 50px;
        font-size: 20px;
    }
    
    .contenido_menu hr{
        width: 100%;
        height: 1px;
        background-color: var(--color-linea);
    }
    
    /*texto*/
    
    #inicio{
        background-color: var(--color-menu-hover);
        color: var(--color-menu-hover-texto);
    }
    
    main{
        margin-left: 250px;
        padding: 20px;
        transition: margin-left 0.5s ease;
    }
    
    main.min-main{
        margin-left: 80px;
    }
}

@media (max-width: 600px){
    .contenido_menu{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){/*Accedemos al segundo icono*/
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}

/*--------------------------------------------------------------------------------------------------------*/

/*CARRUSEL*/

.centrado{
    height: 1000px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.carrusel{
    position: relative;
    width: 500px;
    height: 300px;
    background-color: white;
    box-shadow: 0 8px 32px 0 black;
    border-radius: 15px;
    overflow: hidden;
}

.carruseles{
    width: 400%;/*depende del num de imagenes*/
    height: 100%;
    display: flex;
}

.slider{
    width: calc(100%/4);/*carrusel para 4 imagenes*/
    height: 100%;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*que las imagenes no pierdan su calidad*/
    border-radius: 15px;
}

.bl,.br{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transform: translate(0,-50%);
    transition: 0.5s ease;
    user-select: none;
}

.bl{
    left: 10px;
}

.br{
    right: 10px;
}

.bl:hover,.br:hover{
    background-color: black;
    color: white;
}

/*-----------------------------------------------------*/

section.s1{
    background-color: rgb(0, 119, 255);
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 23px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    background-color: antiquewhite;
    height: 320px;
}

main img.im1{
    width: 420px;
    height: 250px;
    float: left;
    padding-right: 30px;
}

main h2, p{
    margin-bottom: 20px;
}

main.m2{
    background-color: rgb(209, 209, 209);
    height: 320px;
}

main.m2 img.im2{
    width: 420px;
    height: 250px;
    float: right;
    padding-left: 30px;
}

main.m2 h2, p{
    margin-bottom: 20px;
}

footer{
    justify-content: center;
    text-align: center;
    padding: 30px;
}